# Redis
REDIS_NAME=genesis-redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=WcAQLuQIsqlvZtqZTP/dr1yEszssLPHB8/WCf/R/oPx1Fv3vCZ54CiD/A1WF5u8qKq3v4DXt70TMu4Vq
REDIS_DB=0
REDIS_PRIFIX=GENESIS

# PostreSQL
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=genesis
POSTGRES_PASSWORD=BOt8KBX7tgKSyy9ePkktMdEtXZcQeN5zaZ0zfPrN1MWGcqzt6dog9g4VZdwCFVXeHGQ3uYGPzBwaJkfijw7G
POSTGRES_DB=genesis

# Hasura
HASURA_GRAPHQL_ENABLE_CONSOLE=true
HASURA_GRAPHQL_ADMIN_SECRET=G89bgx8UcZvmuP5YHqRNCwMaapUnibUXTjvrwCudL2kbXkweI/6Oy0TS9Ipcjk63jeV0ARiSWIZfQso
HASURA_GRAPHQL_ENDPOINT=http://localhost:9091
HASURA_GRAPHQL_SERVER_PORT=9091
HASURA_GRAPHQL_CORS_DOMAIN=https://*.genesis.org,http://*.genesis.org,http://localhost:5000,http://localhost:3000,http://localhost:9695
HASURA_GRAPHQL_JWT_SECRET=MWM4NzgyMDYtYjIzNC00MGUwLTlhNzAtNmQ0Y2U5ZmIxZDBmQu4nF7EdAh8s3TwpHwrdWT6R
HASURA_GRAPHQL_CUSTOM_API=http://localhost:4000/graphql